<header class="text-center p-2 border-bottom">
  <a href="https://ts.la/david26112" target="_blank">Buy a Tesla</a>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <!-- Main Panel -->

      <div class="output-container">
        <div class="background-tesla"></div>
        <div class="output">
          <div class="row mb-3">
            <div class="col text-center">
              Charging your car via a "{{ outletDescription }}" for
              <span *ngIf="dataStoreService.selectedOption == 'Time'">
                {{ dataStoreService.hours }} hours {{ dataStoreService.minutes ? dataStoreService.minutes + ' minutes' : '' }}
              </span>
              <span *ngIf="dataStoreService.selectedOption == 'Distance'">
                {{ dataStoreService.distance }} {{ dataStoreService.distanceType == 'Miles' ? 'miles' : 'kilometers' }}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col text-center border-right">
              <div class="detail">
                ~{{ calculatedPrice | currency:'USD' }}
              </div>
              <div class="description">
                Cost
              </div>
            </div>
            <div class="col text-center border-right">
              <div class="detail">
                <span *ngIf="dataStoreService.selectedOption == 'Time'">
                  {{ minMilesAddedPerHour }} - {{maxMilesAddedPerHour}}
                </span>
                <span *ngIf="dataStoreService.selectedOption == 'Distance'">
                  ~{{ hoursToCharge }}
                </span>
              </div>
              <div class="description">
                <span *ngIf="dataStoreService.selectedOption == 'Time'">
                  Range added ({{ dataStoreService.distanceType == 'Miles' ? 'miles' : 'kilometers' }})
                </span>
                <span *ngIf="dataStoreService.selectedOption == 'Distance'">
                  Charge Time
                </span>
              </div>
            </div>
            <div class="col text-center">
              <div class="detail">
                {{ minMilesPerHourChargeRate }} - {{ maxMilesPerHourChargeRate }}
              </div>
              <div class="description">
                Charge Rate ({{ dataStoreService.distanceType == 'Miles' ? 'miles' : 'kilometers' }} / hour of charge)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 border-left">
      <!-- right sidebar -->
      <div class="mb-5">
        <h2 class="my-3">
          Presets
        </h2>
        <hr>
        <button class="tesla-button-style" [class.selected]="dataStoreService.amps == 80 && dataStoreService.voltage == 240" (click)="teslaWallCharger()">Tesla Wall Charger</button>
        <button class="tesla-button-style" [class.selected]="dataStoreService.amps == 40 && dataStoreService.voltage == 240" (click)="get1Nema1450()">Gen1 - NEMA 14-50 (40 amp)</button>
        <button class="tesla-button-style" [class.selected]="dataStoreService.amps == 50 && dataStoreService.voltage == 240" (click)="gen2Nema1450()">Gen2 - NEMA 14-50 (50 amp)</button>
        <button class="tesla-button-style" [class.selected]="dataStoreService.amps == 15 && dataStoreService.voltage == 120" (click)="amp(15)">Standard Outlet</button>
      </div>

      <div class="mb-5">
        <h2 class="my-3">
          Distance
        </h2>
        <hr>
        <div class="btn-group btn-group-toggle btn-block mb-3" data-toggle="buttons">
          <label class="btn btn-outline-primary big-border-radius" [class.active]="dataStoreService.distanceType == 'Miles'">
            <input type="radio" name="distanceType" autocomplete="off" [checked]="dataStoreService.distanceType == 'Miles'" (click)="dataStoreService.distanceType = 'Miles'"> Miles
          </label>
          <label class="btn btn-outline-primary big-border-radius" [class.active]="dataStoreService.distanceType == 'Kilometers'">
            <input type="radio" name="distanceType" autocomplete="off" [checked]="dataStoreService.distanceType == 'Kilometers'" (click)="dataStoreService.distanceType = 'Kilometers'"> Kilometers
          </label>
        </div>
      </div>

      <div class="mb-5">
        <h2 class="my-3">
          Electricity $
        </h2>
        <hr>
        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="0.00" name="kwhPrice" step="0.01" [(ngModel)]="dataStoreService.kwhPrice">
          <div class="input-group-append">
            <span class="input-group-text">$/kWh&nbsp;</span>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <h2 class="my-3">
          Outlet
        </h2>
        <hr>
        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="00" name="amps" [(ngModel)]="dataStoreService.amps">
          <div class="input-group-append">
            <span class="input-group-text">&nbsp;amps&nbsp;&nbsp;</span>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="number" class="form-control" placeholder="120/240" name="voltage" [(ngModel)]="dataStoreService.voltage">
          <div class="input-group-append">
            <span class="input-group-text">voltage</span>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <h2 class="my-3">Charging</h2>
        <hr>

        <div class="btn-group btn-group-toggle btn-block mb-3" data-toggle="buttons">
          <label class="btn btn-outline-primary big-border-radius" [class.active]="dataStoreService.selectedOption == 'Time'">
            <input type="radio" name="options" autocomplete="off" [checked]="dataStoreService.selectedOption == 'Time'" (click)="dataStoreService.selectedOption = 'Time'"> Time
          </label>
          <label class="btn btn-outline-primary big-border-radius" [class.active]="dataStoreService.selectedOption == 'Distance'">
            <input type="radio" name="options" autocomplete="off" [checked]="dataStoreService.selectedOption == 'Distance'" (click)="dataStoreService.selectedOption = 'Distance'"> Distance
          </label>
        </div>
        <div *ngIf="dataStoreService.selectedOption == 'Time'">
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="0" name="hours" [(ngModel)]="dataStoreService.hours">
            <div class="input-group-append">
              <span class="input-group-text">&nbsp;&nbsp;hours&nbsp;&nbsp;</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="00" name="minutes" [(ngModel)]="dataStoreService.minutes">
            <div class="input-group-append">
              <span class="input-group-text">minutes</span>
            </div>
          </div>
        </div>
        <div *ngIf="dataStoreService.selectedOption == 'Distance'">
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="000" name="distance" [(ngModel)]="dataStoreService.distance">
            <div class="input-group-append">
              <span class="input-group-text">&nbsp;&nbsp;{{ dataStoreService.distanceType == 'Miles' ? 'miles' : 'kilometers' }}&nbsp;&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
